@import '~/static/styles/mixins';

.trigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.trigger-text {
  color: var(--color-text-primary);

  @include typography-h2;
}

.expand-icon {
  width: 12px;
  height: 12px;
  color: var(--color-text-secondary);
}

@include media-from-tablet {
  .trigger-text {
    @include typography-h1;
  }

  .expand-icon {
    width: 20px;
    height: 20px;
  }
}
