.wrapper {
  position: relative;
}

.expand-icon {
  width: 20px;
  height: 20px;
  color: var(--color-placeholder);

  &.open {
    transform: rotate(180deg);
  }
}

.list-wrapper {
  z-index: 1;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: var(--color-background-tertiary);
  border-radius: 0 0 4px 4px;
}

.list {
  max-height: 220px;
  margin-top: 12px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    height: 4px;
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: var(--color-scrollbar-thumb);
  }
}

.list-item {
  width: 100%;
  color: var(--color-text-secondary);
  padding: 8px 16px;
  cursor: default;

  &:hover,
  &:focus-visible,
  &.active,
  &.selected {
    background-color: var(--color-hovered);
  }
}

.list-empty-message {
  width: 264px;
  padding: 8px 16px;
  color: var(--color-placeholder);
}
