@import '~/static/styles/mixins';

.container {
  z-index: 10;
  inset: 0 auto auto 0;
  position: fixed;
  background-color: var(--color-background-primary);
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 73px;
  color: var(--color-text-secondary);
}

.toggle-theme-button {
  width: 40px;
  height: 40px;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-background-secondary);
}

.toggle-theme-light-icon {
  width: 20px;
  height: 20px;
  color: var(--color-text-tertiary);
}

.toggle-theme-dark-icon {
  width: 24px;
  height: 24px;
  color: var(--color-text-tertiary);
}

@include media-from-tablet {
  .container {
    height: 88px;
  }
}

@include media-from-desktop {
  .container {
    height: 80px;
  }

  .logo {
    width: 91px;
  }
}
