@import '~/static/styles/mixins';

.main-container {
  margin-top: 91px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px 5px;
}

.empty-container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.search-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  grid-column: 1 / -1;
}

.search-container {
  flex-grow: 1;
}

.filter-icon {
  width: 24px;
  height: 24px;
}

.pagination {
  margin: 12px auto 80px;
}

@include media-from-tablet {
  .main-container {
    margin-top: 132px;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }

  .search-wrapper {
    grid-column: 2 / -1;
  }

  .pagination {
    margin-top: 20px;
    margin-bottom: 100px;
  }
}

@include media-from-tablet-portrait {
  .grid {
    gap: 32px;
  }
}

@include media-from-desktop {
  .main-container {
    margin-top: 124px;
  }

  .grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .search-wrapper {
    grid-column: 3 / -1;
  }
}
